/* navbar styles */
.menu {
    display: none;
}

.sticky {
    position: sticky;
    top: 0.1%;
    z-index: 1000;
    /* width: auto; */
    /* border: 2px solid green; */
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    box-shadow: 0px 10px 10px grey;
    margin-bottom: 1%;
}



.navroute {
    width: 40%;
    /* border: 1px solid white; */
    box-sizing: border-box;
    display: flex;
    margin-top: 0.5%;
    justify-content: space-evenly;
}

.navlink {
    text-decoration: none;
    color: azure;
}

.sitename {
    background-color: rgb(199, 156, 93);
}

.searchboxdiv {
    width: 25%;
    /* border: 2px solid red; */
    margin-top: 1.5%;
}

.searchbox {
    width: 70%;
    padding: 0.5em;
    border-radius: 5px;
}

.searchboxdiv button {
    padding: 0.5em;
    border-radius: 5px;
}

.cartcolor {
    color: white;
    /* border: 2px solid red; */
    margin-top: 0.7em;
}

.usercolor {
    color: white;
    /* border: 2px solid green; */
    margin-top: 0.7em;
}

.icons {
    width: 10%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.subroutetitle {
    font-size: large;
    text-decoration: underline;
}

.subroutename {
    color: white;
    text-decoration: none;
}

.subroutename:hover {
    color: orange;
}

.subroute {
    /* background-color: whitesmoke; */
    position: fixed;
    top: 10%;
    width: 20%;
    display: flex;
    z-index: 2;
    color: white;
    /* border: 2px solid rgb(199, 156, 93); */
    box-sizing: border-box;
    /* border-radius: 10px; */
}

.subroute1 {
    background-color: rgb(30, 29, 29);
    width: 50%;
}

.subroute2 {
    background-color: rgb(62, 60, 60);
    width: 50%;
}

.subroute_user {
    position: fixed;
    top: 9%;
    width: 8%;
    right: 1%;
    background-color: rgb(62, 60, 60);
    color: whitesmoke;
    z-index: 2;
}

.login_navlink {
    text-decoration: none;
    color: aliceblue;
}

/* Image Carousel */
.image-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    /* border: 2px solid red; */
    height: 55vh;
}

.image-carousel img {
    width: 100%;
    height: 100%;
    /* You can adjust the maximum height as needed */
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(140, 234, 140, 0.4);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: #333;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}

.autoplay-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/* Footer */
.footer {
    width: 100%;
    background-color: black;
    color: beige;
    /* height: 35vh; */
    margin: 0;
}

.footerflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.foot {
    width: 30%;
    /* border: 2px solid white; */
    margin: 0.5%;
    text-align: center;
    color: beige;
}

.foot-one {
    width: 15%;
    /* border: 2px solid red; */
}

.foot-one_sub {
    margin-top: 0.6%;
    width: 20%;
    text-align: center;
    /* border: 2px solid white; */
}

.foot-two {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid white; */
}

.quicktitle {
    width: 95%;
    margin: auto;
    /* border: 2px solid white; */
    padding: 10px;
}

.links_foot {
    /* border: 2px solid white; */
    width: 40%;
    margin: auto;
}

.links2_foot {
    /* border: 2px solid white; */
    width: 40%;
    margin: auto;
}

.foot-three {
    /* border: 2px solid red; */
    width: fit-content;
}

.marginnonehr {
    margin: 50px 0px 0px 0px;
    height: 10vh;
    text-align: center;
    background-color: grey;
    border: 1px solid grey;
}

.iconfooter {
    margin-right: 2%;
}

.hoo {
    margin: 10px;
}

/* home itemdiv */

.home_itemsparent {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* border: 2px solid black; */
    width: 90%;
    justify-content: space-evenly;
}

.home_itemdiv {
    border: 2px solid rgb(232, 225, 225);
    border-radius: 10px;
    background-color: rgb(253, 247, 247);
    width: 17%;
    /* height: 40vh; */
    margin-bottom: 2%;
    margin-right: 5%;
    padding-top: 1%;
}

.home_imgdiv {
    width: fit-content;
    height: 25vh;
    /* border: 2px solid green; */
    margin: auto;
}

.home_contentdiv {
    min-height: 12vh;
}

.imgfil {
    width: 100%;
    height: 100%;
}


.pname {
    margin: 5px 0px 10px 0px;
}

.price {
    padding: 0;
    margin: 5px 0px 10px 0px;
}

.strike {
    text-decoration: line-through;
    color: grey;
}

.cartbutton {
    width: 40%;
    padding: 3px;
    background-color: rgb(121, 176, 121);
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2%;
}

/* Product Page */
.productdiv {
    width: 90%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
}

.product_imagediv {
    /* border: 2px solid red; */
    width: 35%;
    height: 70vh;
}

.product_contentdiv {
    /* border: 2px solid green; */
    width: 50%;
    margin-left: 10%;
    text-align: left;
}

.cartbut_productpage {
    width: 30%;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(227, 227, 154);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Register form */
.registerpage {
    margin-top: 7%;
    color: white;
}

.registerdiv {
    border: 2px solid black;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    background-color: rgb(106, 109, 106);
}

.form-group {
    margin-bottom: 2%;
}

.form-group label {
    font-size: large;
    font-weight: 400;
    margin-left: 35%;
    display: block;
    text-align: left;
}

.form-group input {
    width: 30%;
    font-size: medium;
    padding: 5px;
    border-radius: 5px;
    /* margin-left: 20%; */
}

.reg_submit {
    padding: 5px;
    font-size: large;
    font-weight: bold;
    width: 20%;
    background-color: rgb(188, 192, 232);
    border-radius: 5px;
    cursor: pointer;
}

.navdeco {
    text-decoration: none;
    color: aliceblue;
}

/* add to cart page */

.maincart {
    width: 90%;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.procartmain {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.productscart {
    border: 2px solid black;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cartimgdiv {
    width: 40%;
    /* border: 2px solid blue; */
}

.cartiteminfodiv {
    /* border: 2px solid green; */
    width: 55%;
}

.removecartbut {
    margin-left: 2%;
}

.totalamtdiv {
    width: 50%;
    /* border: 2px solid violet; */
}

.amtdiv {
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    width: 70%;
    margin: auto;
    padding-bottom: 2%;
}

/* mobile page */
.mobile_parentdiv {
    /* border: 2px solid black; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mobile_route_h2 {
    text-decoration: underline;
    color: white;
    /* text-decoration-color: white; */
}

.mobile_routediv {
    /* border: 2px solid black; */
    width: 18%;
    text-align: left;
    padding: 15px;
    background-color: #333;
    border-radius: 10px;
    height: fit-content;
}

.mobile_route_nav {
    text-decoration: none;
    color: beige;
}

.mobile_itemsparent {
    /* border: 2px solid greenyellow; */
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.mobile_itemdiv {
    border: 2px solid rgb(232, 225, 225);
    border-radius: 10px;
    background-color: rgb(253, 247, 247);
    width: 19%;
    /* height: max-content; */
    margin-bottom: 2%;
    margin-right: 5%;
    padding-top: 1%;
}

.mobile_imgdiv {
    width: fit-content;
    height: 25vh;
    /* border: 2px solid green; */
    margin: auto;
}

.mobile_contentdiv {
    /* border: 2px solid red; */
    min-height: 12vh;
}

.previousnext_but {
    /* border: 2px solid black; */
    margin: auto;
    width: 100%;
    /* display: block; */
}

.prevbut {
    width: 10%;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    margin-right: 2%;
    margin-bottom: 3%;
    /* color: black; */
    background-color: rgb(237, 227, 217)
}

.dynamictopic {
    text-transform: capitalize;
    background-color: antiquewhite;
}

.all_parent {
    /* width: 90%; */
    margin: auto;
    /* border: 2px solid red; */
}

.all_itemsparent {
    /* border: 2px solid greenyellow; */
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.all_itemdiv {
    border: 2px solid rgb(232, 225, 225);
    border-radius: 10px;
    background-color: rgb(253, 247, 247);
    width: 19%;
    /* height: max-content; */
    margin-bottom: 2%;
    margin-right: 5%;
    padding-top: 1%;
}

.all_imgdiv {
    width: fit-content;
    height: 25vh;
    /* border: 2px solid green; */
    margin: auto;
}

.all_contentdiv {
    /* border: 2px solid red; */
    min-height: 12vh;
}

/* search page */
.search_itemsparent {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* border: 2px solid black; */
    width: 90%;
    justify-content: center;
}

@media only screen and (min-width:600px) and (max-width:975px) {
    .navbar {
        display: none;
    }

    .menu {
        display: block;
    }

    .menubutton {
        background-color: antiquewhite;
        /* border: 2px solid blue; */
        padding: 0;
        margin-top: 1vh;
        height: 5vh;
        border-radius: 5px;
    }

    .navbarmedia {
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        background-color: black;
        box-shadow: 0px 10px 10px grey;
    }

    .navroutemedia {
        background-color: black;
        /* border: 1px solid white; */
        box-sizing: border-box;
        /* display: flex; */
        justify-content: space-evenly;
        padding-bottom: 5px;
    }

    .searchboxmedia {
        display: flex;
        /* border: 2px solid white; */
        width: 100%;
        justify-content: center;
    }

    .searchbox {
        width: 70%;
        /* border: 2px solid red; */
    }

    .home_itemdiv {
        width: 40%;
    }

    .all_itemsparent {
        /* border: 2px solid red; */
        justify-content: center;
        width: 75%;
        flex-wrap: wrap;
    }

    .all_itemdiv {
        width: 35%;
        /* border: 2px solid black; */
    }

    .all_imgdiv {
        height: 15vh;
        /* border: 2px solid green; */
    }

    .all_contentdiv {
        min-height: 10vh;
        word-wrap: break-word;
    }

    .prevbut {
        width: 20%;
    }

    .mobile_routediv {
        width: 20%;
    }

    .mobile_itemsparent {
        /* border: 2px solid green; */
        justify-content: center;
    }

    .mobile_itemdiv {
        width: 40%;
    }

    .registerdiv {
        width: 60%;
    }

    .form-group input {
        width: 50%;
    }

    .form-group label {
        text-align: center;
        margin: 0;
    }

    .image-carousel {
        border: 2px solid black;
        height: 30vh;
    }

}

@media only screen and (max-width:599px) {
    .navbar {
        display: none;
    }

    .menu {
        display: block;
    }

    .menubutton {
        background-color: antiquewhite;
        /* border: 2px solid blue; */
        padding: 0;
        margin-top: 1.5vh;
        height: 7vh;
        border-radius: 5px;
    }

    .navbarmedia {
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        background-color: black;
        box-shadow: 0px 10px 10px grey;
    }

    .navroutemedia {
        background-color: black;
        /* border: 1px solid white; */
        box-sizing: border-box;
        /* display: flex; */
        justify-content: space-evenly;
        padding-bottom: 5px;
    }

    .searchboxmedia {
        display: flex;
        /* border: 2px solid white; */
        width: 100%;
        justify-content: center;
    }

    .searchbox {
        width: 70%;
        /* border: 2px solid red; */
    }

    .home_itemdiv {
        width: 60%;
    }

    .all_itemsparent {
        /* border: 2px solid red; */
        justify-content: center;
        width: 75%;
        flex-wrap: wrap;
    }

    .all_itemdiv {
        width: 75%;
        /* border: 2px solid black; */
    }

    .all_imgdiv {
        height: 15vh;
        /* border: 2px solid green; */
    }

    .all_contentdiv {
        min-height: 10vh;
        word-wrap: break-word;
    }

    .prevbut {
        width: 30%;
    }

    .mobile_routediv {
        width: 80%;
    }

    .mobile_itemsparent {
        /* border: 2px solid green; */
        justify-content: center;
    }

    .mobile_itemdiv {
        width: 80%;
    }

    .registerdiv {
        width: 60%;
    }

    .form-group input {
        width: 50%;
    }

    .form-group label {
        text-align: center;
        margin: 0;
    }

    .image-carousel {
        border: 2px solid black;
        height: 30vh;
    }

    /* footer */
    .footer {
        width: 100%;
        background-color: black;
        color: beige;
        /* height: 35vh; */
        margin: 0;
    }

    .footerflex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .foot {
        width: 30%;
        /* border: 2px solid white; */
        margin: 0.5%;
        text-align: center;
        color: beige;
    }

    .foot-one {
        width: 20%;
        /* border: 2px solid red; */
        font-size: small;
        margin-top: 1%;
    }

    .foot-one h4 {
        font-size: small;
    }

    .foot-one_sub {
        margin-top: 0.6%;
        width: 35%;
        text-align: center;
        /* border: 2px solid white; */
        font-size: small;
        margin-top: 5%;
    }

    .foot-one_sub h3 {
        font-size: small;
    }

    .foot-two {
        display: flex;
        flex-wrap: wrap;
        /* border: 2px solid white; */
        width: 35%;
        font-size: small;
    }

    .quicktitle {
        width: fit-content;
        margin: auto;
        /* border: 2px solid white; */
        padding: 5px;
    }

    .quicktitle h3 {
        font-size: small;
        margin: 0;
    }

    .links_foot {
        /* border: 2px solid white; */
        width: 40%;
        margin: auto;
    }

    .links_foot h5 {
        margin: 5px;
    }

    .links2_foot {
        /* border: 2px solid white; */
        width: 40%;
        margin: auto;
    }

    .links2_foot h5 {
        margin: 5px;
    }

    .foot-three {
        /* border: 2px solid red; */
        width: 90%;
        font-size: small;
        margin: 0;
    }

    .foot-three h4 {
        margin: 5px 0px 0px 0px;
    }

    .marginnonehr {
        margin: 50px 0px 0px 0px;
        height: 10vh;
        text-align: center;
        background-color: grey;
        border: 1px solid grey;
        display: none;
    }

    .iconfooter {
        margin-right: 2%;
        width: 15%;
    }

    .hoo {
        margin: 0;
    }

    /* previousbutton */

}